<%- include('./partials/navbar',user)%>
<div class="w-75 text-center container mt-5">
        <h2 class="text-center mb-5">بيان بالمخزون <%=+tab === 0? 'الجاف': 'الطازج'%></h2>
        <div class="w-50 py-3">
            <form action="/store/<%=tab%>" method="get">
                <div class="input-group">
                        <input type="hidden" value="<%=parseInt(page||1)%>" name="page">
                        <input type="search" class="form-control rounded" placeholder="بحث" aria-label="بحث"
                            aria-describedby="search-addon" name="q" value="<%=q%>"/>
                        <button type="submit" class="btn btn-primary mx-1 rounded"> <i class="bi bi-search"></i> </button>
                </div>
            </form>
        </div>        
    <!-- <div class="text-center"><%#- include('./partials/tabs',tab,url)%></div> -->
   
        <%if (categories.length > 0) {%>
            <table
                class="table table-responsive table-hover table-bordered mx-auto bg-white rounded shadow text-center">
                <thead class="table-primary">
                    <tr class="text-center">
                        <th>اسم الصنف</th>
                        <th>الكمية الحالية</th>
                        <th>صرفية الفرد</th>
                        <th>تاريخ تسجيل الصنف</th>
                        <%if (user.role === 'admin'){%>
                            <th colspan="2">خيارات</th>
                        <%}%>
                    </tr>
                </thead>
                <tbody>
                    <% for (let category of categories) {%>
                        <tr>
                            <td>
                                    <%= category.name %>
                            </td>
                            <td>
                                <%if (category.unit !== 'عدد') {%>
                                <%= category.amount >= 1000 && category.unit === 'جرام'?category.amount / 1000 : category.amount %> <%if (category.amount > 0) {%><%= category.amount >= 1000 && category.unit === 'جرام'?'كيلو' :category.unit %> <%}%>
                                <%} else {%>
                                    <%= category.amount %>
                                    <%}%>
                            </td>
                            <td>
                                <%if (category.unit !== 'عدد') {%>
                                <%= category.rate >= 1000 && category.unit === 'جرام'?category.rate / 1000 : category.rate %> <%if (category.rate > 0) {%><%= category.rate >= 1000 && category.unit === 'جرام'?'كيلو' :category.unit %> <%}%>
                                <%} else {%>
                                    <%= category.rate %>
                                    <%}%>
                            </td>
                            <td>
                                <%= moment(new Date(category.createdAt)).format('DD-MM-YYYY') %>
                            </td>
                            <%if (user.role === 'admin'){%>
                            <td><a class="text-primary text-center btn btn-link text-decoration-none"
                                    href="/<%if (tab === 0) {%>dry<%} else {%>fresh<%}%>/<%=category._id%>/editAmount">
                                    <i class="bi bi-pen-fill"></i>
                                        </a></td>
                            <td>
                                <form action="/store/<%=tab%>/<%=category._id%>/delete?_method=DELETE" method="post">
                                    <button type="submit" class="btn btn-link text-danger text-decoration-none">
                                            <i class="bi bi-trash-fill"></i>
                                    </button>
                                </form>
                            </td>
                            <%}%>
                        </tr>
                        <% } %>
                </tbody>
            </table>
                        <%if (pagesCount > 1 && count > limit) {%>
                <nav aria-label="Page navigation example" class="justify-content-center d-flex">
                    <ul class="pagination">
                        <%if (page> 1) {%> <li class="page-item"><a class="page-link"
                                    href="?page=<%=parseInt(page)-1%><%if (q) {%>&q=<%=q%> <%}%>">السابق</a></li>
                            <%}%>
                                <%for (let i=0; i < parseInt(pagesCount); i++) {%>
                                    <li class="<%if (parseInt(page) === i+1) {%> page-item active <%}else {%> page-item <%}%>>"><a class="page-link" href="<%if (parseInt(page) === i+1) {%>#<%}else {%>?page=<%=i+1%><%if (q) {%>&q=<%=q%> <%}%> <%}%>">
                                            <%=i+1%>
                                        </a></li>
                                    <%}%>


                                        <%if (page < parseInt(pagesCount)) {%>
                                            <li class="page-item"><a class="page-link"
                                                    href="?page=<%=parseInt(page)+1%><%if (q) {%>&q=<%=q%> <%}%>">التالي</a></li>
                                            <%}%>
                    </ul>
                </nav>
                <%}%>
            <%} else {%>
                
                        <div class="card text-center mb-3">
                            <h3 class="text-muted card-body">لا يوجد بيانات</h3>
                        </div>
                <%}%>
         
            </div>
        </html>